*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Saira", sans-serif;
    background: #313337;
    margin-top: 10%;
    color: white;
    text-align: center;
    
}
body h3{
    font-size: 30px;
}
body a{
    text-decoration: none;
    font-size: 25px;
    color: coral;
}