.comentarios{
    margin-top: 30px;
}
.comentario img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.comentario{
    display:flex;
    align-items: center;
    width: 80%;
    padding: auto;
    margin: auto;
    margin-top: 40px;
}
.comentario h3{
    margin: 0 20px;
}
.titulo{
    margin-left: 30px;
    font-size: 40px;
    text-align: center;
}